@page "/cashlend"

<table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td class="rowTitleView" valign="top">Period:</td>
        <td class="rowDataView" valign="top">August 2021 - Now</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Job Title:</td>
        <td class="rowDataView">Software Engineer</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company:</td>
        <td class="rowDataView">Code Lab</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Business sector:</td>
        <td class="rowDataViewNormal">IT</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Location:</td>
        <td class="rowDataViewNormal">Yambol / Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company size:</td>
        <td class="rowDataViewNormal">less 300</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Additional Details:</td>
        <td class="rowDataViewNormal" valign="top">
            Software application development.<br />
            Responsabilities:<br />
            * Compilation of algorithms for programs or parts of them.<br />
            * Elimination of defects and problems related to the operation of software products.<br />
            * Assistance in the training of interns.
        </td>
    </tr>
</table>
<NavLink type="button" href="experience" class="btn btn-primary">back</NavLink>



