@page "/education"

<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">T S E  &quot;A.S.Popov&quot; </h3>
        <div class="subheading mb-3">Communication technologies</div>
    </div>
    <div class="flex-shrink-0"><span style="color:brown">September 1985 - May 1989</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="flex-grow-1">
        <h3 class="mb-0">SoftUni</h3>
        <div class="subheading mb-3">Software Engineering with C#</div>
    </div>
    <div class="flex-shrink-0"><span style="color:brown">February 2019 - December 2020</span></div>
</div>
<br />
<hr class="m-0" />
