@page "/experience"

<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">NET1 EOOD</h3>
        <p>Engineer communication lines and instalations</p>
        <a type="button" href="instalationsNET1" class="btn btn-primary">details</a>
    </div>
    <div class="flex-shrink-0"><span style="color: purple">September 2007 - July 2018</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">BTK-AD</h3>
        <p>Engineer phonecard telephones</p>
        <a type="button" href="phonecardBTK" class="btn btn-primary">details</a>
    </div>
    <div class="flex-shrink-0"><span style="color: purple">February 2005 - September 2007</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Betkom / RTK-Mobikom</h3>
        <p>Engineer phonecard telephones</p>
        <a type="button" href="phonecardBetkom" class="btn btn-primary">details</a>
    </div>
    <div class="flex-shrink-0"><span style="color:purple">May 1997 - February 2005</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="flex-grow-1">
        <h3 class="mb-0">STTS BTK-AD</h3>
        <p>Mechanic</p>
        <a type="button" href="mechanic" class="btn btn-primary">details</a>
    </div>
    <div class="flex-shrink-0"><span style="color:purple">May 1991 - July 1997</span></div>
</div>
<br />
<hr class="m-0" />
