@page "/"

<h1 class="text-md-center display-1">
    Genadi Ivanov
    <span style="color: purple">Mladenov</span>
</h1>
<div class="text-md-center subheading mb-5">
    Place of residence:Sofia <i class="fas fa-ellipsis-h"></i> Email:genadi.i.mladenov@gmail.com <i class="fas fa-ellipsis-h"></i> Phone:(+359)876 108 948
</div>
<br/>
<b>I have experience in various fields, but my experience in programming is only 2 years of training at SoftUni. I think the ability to learn is very important for the developer and I have serious training in this regard. Therefore, I am sure that I will master the necessary technologies and tools to work in your company.</b>
