@page "/"

<h1 class="text-md-center display-1">
    Genadi Ivanov
    <span style="color: purple">Mladenov</span>
</h1>
<div class="text-md-center subheading mb-5">
    Place of residence:Sofia
    <i class="fas fa-ellipsis-h"></i>
    Email:
    <a href="https://mail.google.com/" target="_blank">
        genadi.i.mladenov@gmail.com
    </a>
    <i class="fas fa-ellipsis-h"></i>
    Phone:
    <b>(+359)876 108 948</b>
    <i class="fas fa-ellipsis-h"></i>
    <a href="https://www.linkedin.com/in/genadi-mladenov-2330571b4/" target="_blank">
        <i class="fab fa-linkedin-in" style="font-size:27px"></i>
    </a>
    <i class="fas fa-ellipsis-h"></i>
    <a href="https://github.com/GIM13" target="_blank">
        <i class="fab fa-github" style="font-size:30px"></i>
    </a>
</div>
<br />
<b>My experience in programming is only 2 years of studying at SoftUni but I have worked different job positions, where I acquired new set of skills every time. I think the ability to learn is very important for the developer and I have serious background in this regard. Therefore, I am positive that I will master the necessary technologies and tools to work in your company.</b>
