@page "/"

<h1 class="text-md-center display-1">
    Genadi Ivanov
    <span style="color: brown">Mladenov</span>
</h1>
<div class="text-md-center subheading mb-5">
    Post address:	52, Rilska obitel, Sofia, 1517
</div>
<br/>
<p>I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.<span class="text-danger">Trqbva da se misli nov tekst.</span></p>
