@page "/instalationsNET1"

<table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td class="rowTitleView" valign="top">Period:</td>
        <td class="rowDataView" valign="top">September 2007 - July 2018</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Job Title:</td>
        <td class="rowDataView">Engineer communication lines and instalations</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company:</td>
        <td class="rowDataView">NET1 EOOD</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Business sector:</td>
        <td class="rowDataViewNormal">Telecommunications</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Location:</td>
        <td class="rowDataViewNormal">Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company size:</td>
        <td class="rowDataViewNormal">above 300</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Additional Details:</td>
        <td class="rowDataViewNormal" valign="top">
            The department is responsible for the extension of cable TV and internet networks via optic, coaxial and LAN cable. <br />
            Responsabilities:<br />
            * Planning and optimization of existing networks<br />
            * Instalation and support for the networks<br />
            * Driving officiary car
        </td>
    </tr>
</table>
