@page "/interests"

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <p>Apart from the innovations in the IT field, I am also interested in football and F1. I like to play video games, read books (mostly fantasy) and listen to rock. I love about the majesty of the mountain and the vastness of the sea.</p>
</div>
