@page "/mechanic"

<table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td class="rowTitleView" valign="top">Period:</td>
        <td class="rowDataView" valign="top">May 1991 - July 1997</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Job Title:</td>
        <td class="rowDataView">Mechanic</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company:</td>
        <td class="rowDataView">STTS BTK-AD</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Business sector:</td>
        <td class="rowDataViewNormal">Telecommunications</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Location:</td>
        <td class="rowDataViewNormal">Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company size:</td>
        <td class="rowDataViewNormal">above 300</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Additional Details:</td>
        <td class="rowDataViewNormal" valign="top">
            The department is responsible for the instalation and support of land telephone lines.<br />
            Responsabilities:<br />
            * Building air and built-in telephone lines.<br />
            * Instal, support and test telephone lines and devices.
        </td>
    </tr>
</table>
