@page "/phonecardBTK"

<table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td class="rowTitleView" valign="top">Period:</td>
        <td class="rowDataView" valign="top">February 2005 - September 2007</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Job Title:</td>
        <td class="rowDataView">Engineer phonecard telephones</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company/Organization:</td>
        <td class="rowDataView">BTK-AD</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Business sector:</td>
        <td class="rowDataViewNormal">Telecommunications</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Location:</td>
        <td class="rowDataViewNormal">Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company size:</td>
        <td class="rowDataViewNormal">above 300</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Additional Details:</td>
        <td class="rowDataViewNormal" valign="top">
            The department is responsible for the instalation and support of phonecard telephones.<br />
            Responsabilities:<br />
            * Planning and optimization of existing networks<br />
            * Instal, support and test for the phonecard machines<br />
            * Driving officiary car
        </td>
    </tr>
</table>
