@page "/project"

<h2 class="mb-5">Project</h2>
<p>
    In order to learn and gain experience in programming, I embarked on a project involving the use of signalR and graphs as a data structure. If you want to see it, the link is <a href="http://damagame.azurewebsites.net" target="_blank">
        http://damagame.azurewebsites.net
    </a>.
</p>
<p>
    The project code is on: <a href="https://github.com/GIM13/Dama" target="_blank">
        https://github.com/GIM13/Dama
    </a>.
</p>
