@page "/skills"

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <br />
        <div class="subheading mb-3">Computer Skills & Tools:</div>
        <table cellspacing=0 cellpadding=0 border=0 style="border-top:1px solid #000000;" width=100%>
            <tr>
                <td valign=top>
                    <table cellspacing=0 cellpadding=0 border=0>
                        <tr>
                            <td class="rowDataView">Windows OS, Linux Ubuntu, MS Visual Studio 2017/2019, SSMS, Visual Studio Code, C #, JS, MSSQL, Linq, ASP.NET Core, ASP.NET MVC, Razor, ASP.NET WebAPI, SignalR, Blazor, Entity Framework, AutoMapper, XUnit, HTML5, CSS3, Bootstrap, GitHub.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <div class="subheading mb-3">Personal skills:</div>
        <ul cellspacing=0 cellpadding=0 border=0 style="border-top:1px solid #000000;" width=100%>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Teamwork
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Punctual
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Good at working under pressure
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                ????????????????
            </li>
        </ul>
    </div>
</section>
