@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        Email:
        <a href="https://mail.google.com/" target="_blank">
            genadi.i.mladenov@gmail.com
        </a>
        <a></a>
        Phone:
        <a href="">
            (+359)876 108 948
        </a>
        <a></a>
        And
        <a href="https://www.linkedin.com/feed/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/GIM13" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
